@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
}
.font-heading-token {
	@apply text-xl text-justify;
}

.font-token {
	@apply font-mono text-base line-through;
}
.avatar-image {
	@apply bg-inherit;
}
